/* Accent color setup */
html {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    
    /* Limits the content so it doesn't stretch too far */
    max-width: 100ch;

    /* Centers content */
    margin-inline: auto;

    /* Prevents distortion in smaller viewports */
    padding-inline: 1em;
}

/* Typography for headings */
h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

nav {
  display: flex;
  margin-bottom: 1.5em;
  border-bottom: 1px solid oklch(80% 3% 200);
}

  /* Makes all nav links take equal space and center text */
nav a {
  flex: 1;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
  border-bottom: 0 solid transparent;
}

nav a.current {
   /* Thicker underline */
  border-bottom: 0.4em solid oklch(80% 3% 200);

  /* Reduce bottom padding to balance height */
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

/* Formatting for contact box */
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  max-width: 50ch;
  margin-inline: auto;
  font: inherit;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

input,
textarea,
button {
  font: inherit;
  width: 100%;
  box-sizing: border-box;
}

button {
  grid-column: 1 / -1;
  padding: 0.5em;
  cursor: pointer;
}

/* Projects grid layout */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5em;
  margin: 2em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0.5em;
  background: #f9f9f9;
  padding: 1em;
  border-radius: 0.5em;
}

.projects h2 {
  margin: 0;
}

.projects article:hover {
  background: #eaeaea;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.projects img {
  max-width: 100%;
  height: auto;
  border-radius: 0.25em;
}